.teamPhoto { 
    height: 100%;
    background-image: url(img/normal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
}
.teamPhoto:hover {
    -webkit-filter: grayscale(0%);
}