.photo {
    font-size: 40px;
    height: 300px;
    margin-top: 20%;
    
}
.col-sm-offset-3 {
    margin-left: 15%;
}
.any {
    margin-left: 25%;
}
.line {
    border-bottom: 1px solid grey;
    
}
.space {
    padding: 20px 10px 0;
    line-height: 1.5;
    font-size: 1.05em;
}
#carousel_color {
    background-color: black;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-3 {
    width: 25%;
}
.container {
    width: 930px;
}
.zaraza {
    font-size: 12em;
    color: #2980b9;
}
.form-control {
    display: block;
    width: 92%;
    height: 34px;
    margin-left: 14px;
    /* margin-right: 11px; */
    
    padding: 11px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.litle_text {
    line-height: 1.5;
    font-size: 1.05em;
}
.foot_color{
    margin-top: -33px;
    background: #2c3e50;
   color: #ecf0f1;
   line-height: 1.5;
}
.a_color{
      color: #ecf0f1;
      margin-right: 209px;
}
.pad-top{padding-top: 40px;}
#shit{
    width: 50%;
margin-left: 50%;
}