.navbar-color {
	background-color: #00796B;
	color: #B2DFDB;
}
 .btn-feedback {
     padding: 5px;
 }
 .btn-my {
     background: #4de56f;
     border-color: #00dc31;
     color: #fff;
 }
.center{
	text-align: center;
	font-size: 1.5em;
}
.width{
	width: 200px;
	height: 600px;
	background-color: black;
} 
.bodyga{
background: #009688;
color: #fff;
padding: 3em;
line-height: 1.5;
font-size: 1.1em;}
#text_200{
	width: 200%;
	padding-top: 90%;
color: rgb(223, 205, 224);
text-shadow: 1px 1px 2px black;
}
div>img {
	width: auto;
	height: 80px;
}
 