.photo {
    font-size: 40px;
    height: 300px;
    margin-top: 20%;
}
.col-sm-offset-3 {
    margin-left: 15%;
}
.any {
    margin-left: 25%;
}
.line {
    border-bottom: 1px solid grey;
}
.space {
    padding: 20px 10px 0;
    line-height: 1.5;
    font-size: 1.05em;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-3 {
    width: 25%;
}
.zaraza {
    font-size: 12em;
    color: #2980b9;
}
.litle_text {
    line-height: 1.5;
    font-size: 1.05em;
}
.foot_color {
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.5;
    font-size: 0.64em;
}

.pad-top {
    padding-top: 40px;
}
.litle_text_ab {
    line-height: 1.5;
    font-size: 1.56em;
}
.litle_text_ab_all {
    line-height: 1.5;
    font-size: 0.86em;
}
#shit {
    width: 50%;
    margin-left: 50%;
}
#contact {
    margin-top: 100px;
}
.light-primary-color   { background: #B2DFDB; }
.btn-feedback {
     padding: 5px;
 }
 .btn-my {
     background: #4de56f;
     border-color: #00dc31;
     color: #fff;
 }
.center{
	text-align: center;
	font-size: 1.5em;
}
#text_200 {
width: 200%;

color: #dfcde0;
text-shadow: 1px 1px 2px black;
}